<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sendcloud>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
        </sendcloud>
        <carriers>
            <sendcloud>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>CreativeICT\SendCloud\Model\Carrier\SendCloud</model>
                <name>SendCloud</name>
                <price>15.00</price>
                <title>SendCloud</title>
                <type>I</type>
                <sort_order>500</sort_order>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </sendcloud>
        </carriers>
    </default>
</config>