<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sendcloud>
            <general>
                <enable>1</enable>
            </general>
        </sendcloud>
        <carriers>
            <sendcloud>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_fixed</condition_name>
                <model>SendCloud\SendCloud\Model\Carrier\SendCloud</model>
                <name>Sendcloud</name>
                <price>15.00</price>
                <title>Sendcloud</title>
                <type>I</type>
                <sort_order>500</sort_order>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
            </sendcloud>
            <sendcloudcheckout>
                <active>0</active>
                <name>Sendcloud</name>
                <title>Sendcloud</title>
                <model>SendCloud\SendCloud\Model\Carrier\SendcloudCheckout</model>
                <price>15.00</price>
                <sort_order>500</sort_order>
            </sendcloudcheckout>
        </carriers>
    </default>
</config>
