<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="SendCloud_SendCloud" frontName="sendcloud">
            <module name="SendCloud_SendCloud" />
        </route>
        <route id="sendcloud_support" frontName="sendcloud_support" method="POST">
            <module name="SendCloud_SendCloud"/>
        </route>
    </router>
</config>
