<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sendcloud" translate="label" sortOrder="10">
            <label>Sendcloud</label>
        </tab>
        <section id="sendcloud" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sendcloud</label>
            <tab>sales</tab>
            <resource>SendCloud_SendCloud::sendcloud_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="listbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>SendCloud\SendCloud\Block\System\Config\Form\Button</frontend_model>
                    <depends>
                        <field id="sendcloud/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="branding" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Branding</label>
                <frontend_model>SendCloud\SendCloud\Block\System\Config\Form\Branding</frontend_model>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="sendcloud" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sendcloud service point</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="condition_name" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Condition</label>
                    <source_model>SendCloud\SendCloud\Model\Config\Source\Servicepointrate</source_model>
                </field>
                <field id="include_virtual_price" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Include Virtual Products in Price Calculation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export" translate="label" type="SendCloud\SendCloud\Block\Adminhtml\Form\Field\Export" sortOrder="23" showInWebsite="1">
                    <label>Export</label>
                </field>
                <field id="import" translate="label" type="SendCloud\SendCloud\Block\Adminhtml\Form\Field\Import" sortOrder="24" showInWebsite="1">
                    <label>Import</label>
                    <backend_model>SendCloud\SendCloud\Model\Config\Backend\Servicepointrate</backend_model>
                </field>
                <field id="divider3" translate="label comment" type="label" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Note!</label>
                    <comment>Service point rates can be modified in Website scope</comment>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
