<div id="sendcloud-service-point" data-bind="visible: selectedMethod() == 'sendcloud_sendcloud'">
    <div id="selectedServicePoint">
        <!-- ko if: isServicePointSelected() -->
        <div class="col">
            <div id="servicePointName" data-bind="text: quote.getExtensionAttributes().sendcloud_service_point_name"></div>
            <div id="servicePointStreetAndHouseNumber">
                <!-- ko text: quote.getExtensionAttributes().sendcloud_service_point_street --><!-- /ko -->
                <!-- ko text: quote.getExtensionAttributes().sendcloud_service_point_house_number --><!-- /ko -->
            </div>
            <div id="servicePointZipCode" data-bind="text: quote.getExtensionAttributes().sendcloud_service_point_zip_code"></div>
            <div id="servicePointCity" data-bind="text: quote.getExtensionAttributes().sendcloud_service_point_city"></div>
            <div id="servicePointPostnumber" data-bind="text: quote.getExtensionAttributes().sendcloud_service_point_postnumber"></div>
        </div>
        <!-- /ko -->
        <span class="button-service-point"
              data-bind="click: openSendCloudMap, i18n: 'Select service point',text: servicePointButton,">
        </span>
    </div>

    <!-- ko ifnot: isServicePointSelected() -->
    <div class="message warning" generated="true"><span data-bind="i18n: 'Please select a service point'"></span></div>
    <!-- /ko -->

</div>
