
<div id="sendcloud-service-point" data-bind="visible: selectedMethod() == 'sendcloud_sendcloud'">
    <div id="selectedServicePoint" data-bind="afterRender: sessionData">
        <div class="col">
            <div id="servicePointName"></div>
            <div id="servicePointStreetAndHouseNumber"></div>
            <div id="servicePointZipCode"></div>
            <div id="servicePointCity"></div>
        </div>
        <!--<div class="col">-->
            <!--<div id="servicePointOpeningTimes">-->
                <!--<ul></ul>-->
            <!--</div>-->
        <!--</div>-->

        <span class="button-service-point" data-bind="click: openSendCloudMap, text: servicePointButton">
            Select service point
        </span>

        <input name="sendcloud_service_point_id" type="hidden"/>
        <input name="sendcloud_service_point_name" type="hidden"/>
        <input name="sendcloud_service_point_street" type="hidden"/>
        <input name="sendcloud_service_point_house_number" type="hidden"/>
        <input name="sendcloud_service_point_zip_code" type="hidden"/>
        <input name="sendcloud_service_point_city" type="hidden"/>
        <input name="sendcloud_service_point_country" type="hidden"/>
    </div>
</div>
<!--<script type="text/x-magento-init">-->
        <!--{-->
            <!--"*": {-->
                <!--"Magento_Ui/js/core/app": {-->
                    <!--"components": {-->
                        <!--"custom": {-->
                            <!--"component": "CreativeICT_Sendcloud/js/custom"-->
                        <!--}-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--}-->
<!--</script>-->